.weather-card{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      border-radius: 10px;
      height: auto;
      width:450px;
      background-color: white;
}

.weather-form {
      margin-bottom: 50px;
      text-align: center;
}
.weather-header{
      color: white;
      padding:15px;
      text-align: center;
      height: 450px;
      line-height: normal;
}
.weather-icon{
      font-size: 100px;
}
.weather-header .temperature {
      font-size: 70px;
      font-weight: 700;
}
.weather-forecast{
      padding:15px;
      background-color: white;
      height: auto;
      padding-bottom:30px;
      border-radius:10px;
}
.city-name{
      font-weight: bold;
      font-size:20px;
}
.weather-day {
      background-color: #66A6CC;
}
.weather-night{
      background-color: #8065CC;
}

.weather-datetime{
      color: #999;
}