<p class="text-center">Search weather by city name:</p>
<form class="form-inline weather-form" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <input class="form-control" id="city" placeholder="Enter city name" name="city" ngModel required #first="ngModel">
    <button class="btn btn-primary">Get weather</button>
</form>
<div class="weather-card" *ngIf="data">
    <div class="weather-header" ngClass="weather-{{time}}">
        <h1 class="text-center card-header">{{data?.weather[0]?.main}}</h1>
        <p class="weather-icon icon" [attr.data-icon]="icon"></p>

        <p class="temperature">{{data?.main?.temp | number : '1.0-0'}}
            <span [hidden]="units != 'metrics'"> &#8451;</span>
            <span [hidden]="units != 'imperial'">&#8457;</span>
        </p>
        <p class="capitalize weather-description">{{data?.weather[0]?.description}}</p>
        <p *ngIf="data?.main?.humidity">Humidity: {{data?.main?.humidity}}%</p>
        <p *ngIf="windSpeed !== null">Wind: {{windSpeed}} KMH</p>
        <p *ngIf="data?.clouds?.all">Cloudiness: {{data?.clouds?.all}}%</p>


    </div>
    <div class="weather-forecast">
        <p class="city-name">{{data?.name}}, {{data?.sys?.country}}</p>
        <p class="weather-datetime"> Sunday, June 25 12:31 pm </p>
        <!-- TO-DO Add here the current time from the response -->
        <template [ngIf]="forecastList" *ngFor="let forecast of forecastList">
            <weather-forecast-line 
                [day]="forecast?.day" 
                [tempMax]="forecast?.temp_max" 
                [tempMin]="forecast?.temp_min" 
                [code]="forecast?.id">
            </weather-forecast-line>
        </template>
    </div>
</div>