<div class="row forecast-line-row">
    <div class="col-md-5">{{day}}</div>
    <div class="col-md-3">
         <p class="icon forecast-icon" [attr.data-icon]="icon"></p>
    </div>
    <div class="col-md-2 text-center">{{tempMax}}&deg;</div>
    <div class="col-md-2 text-center">{{tempMin}}&deg;</div>
</div>