@font-face {
    font-family: 'MeteoconsRegular';
    src: url('assets/Font-face/meteocons-webfont.eot');
    src: url('assets/Font-face/meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/Font-face/meteocons-webfont.woff') format('woff'),
         url('assets/Font-face/meteocons-webfont.ttf') format('truetype'),
         url('assets/Font-face/meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

html,body {
  color: #333;  
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
}

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}
.capitalize{
  text-transform: capitalize;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #dedede;
}